@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>InfoTrack Scraper</h1>
    <p class="lead">Welocme to the InfoTrack Scraper. Please click below to get started</p>
    <p><a href="@Url.Action("SearchRes", "Home")" class="btn btn-primary btn-lg">Scraper &raquo;</a></p>
</div>

